body {
  background-color: @black-bg;
  font-size: @font-size-base;
}

header {
  height: @header-height;
  .page-logo {
    float: left;
    display: block;
    width: 235px;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    line-height: @header-height;
  }
}

header .top-menu {
  margin-right: 20px;
  .nav {
    li.dropdown {
      & > a {
        color: @green-font-def;
        padding: @header-height/2-11 12px;
        &:hover {
          background-color: @black-lighter;
          color: @green-font-def-hover;
        }
        > i {
          font-size: 1.4em;
          height: 20px;
        }
        > .badge {
          position: absolute;
          top: 10px;
          right: 20px;
          background-color: fade(@brand-success, 70%);
        }
      }

    }
  }
}

header .top-menu .dropdown-menu {
  min-width: 160px;
  max-width: 275px;
  width: 275px;
  z-index: 9995;
  > li.external {
    background: @gray-bg;
    display: block;
    overflow: hidden;
    padding: 15px 15px;
    letter-spacing: 0.5px;
    h3 {
      margin: 0;
      padding: 0;
      float: left;
      font-size: 1em;
      display: inline-block;
      color:@green-font;
    }
    a{
      color:lighten(@blue-font, 10%);
      display: inline-block;
      padding: 0;
      background: none;
      clear: inherit;
      font-weight: 300;
      position: absolute;
      right: 10px;
      border: 0;
      margin-top: -1px;
      &:hover{
        color:@blue-font;
      }
    }
  }
  .dropdown-menu-list {
    padding-right: 0;
    padding-left: 0;
    list-style: none;
  }
}


