body {
  font-size: @font-size-base;
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", sans-serif;
  direction: ltr;
}

/***
Page header
***/
header {
  height: @header-height;
  background-color: @black-bg;
  .page-logo {
    float: left;
    display: block;
    width: 235px;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    line-height: @header-height;
  }
}

/***
Page container
***/
.page-container {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: @black-bg;
  .clearfix();
}

/***
Page footer
***/
footer {
  padding: 8px 20px 5px 20px;
  font-size: 12px;
  height: 33px;
  color: @green-font-def;
  background-color: @black-bg;
  .clearfix();
  .page-footer-inner {
    float: left;
    display: inline-block;
  }
}

/***
Page sidebar
***/
/* IE8 fix */
.ie8 .page-sidebar {
  width: @width-sidebar;
  float: left;
  position: relative;
  margin-right: -100%;
}


/***
Page content
***/
/* Page title */
.page-title {
  padding: 0px;
  font-size: 28px;
  letter-spacing: -1px;
  display: block;
  color: #666;
  margin: 0px 0px 15px 0px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  /* subtitle */
}

.page-title small {
  font-size: 14px;
  letter-spacing: 0px;
  font-weight: 300;
  color: #888;
}

.page-container-bg-solid .page-title {
  color: #666;
  margin-bottom: 20px;
  margin-top: 20px;
}

.page-container-bg-solid .page-title small {
  color: #666;
}

/* Page breadcrumb */
.page-bar {
  padding: 0px;
  background-color: #f7f7f7;
  margin-bottom: 25px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

.page-bar:before, .page-bar:after {
  content: " ";
  display: table;
}

.page-bar:after {
  clear: both;
}

.page-bar .page-breadcrumb {
  display: inline-block;
  float: left;
  padding: 8px;
  margin: 0;
  list-style: none;
}

.page-bar .page-breadcrumb > li {
  display: inline-block;
}

.ie8 .page-bar .page-breadcrumb > li {
  margin-right: 1px;
}

.page-bar .page-breadcrumb > li > a,
.page-bar .page-breadcrumb > li > span {
  color: #888;
  font-size: 14px;
  text-shadow: none;
}

.page-bar .page-breadcrumb > li > i {
  color: #aaa;
  font-size: 14px;
  text-shadow: none;
}

.page-bar .page-breadcrumb > li > i[class^="icon-"],
.page-bar .page-breadcrumb > li > i[class*="icon-"] {
  color: gray;
}

.page-bar .page-toolbar {
  display: inline-block;
  float: right;
  padding: 0;
}

.page-bar .page-toolbar .btn-fit-height {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  padding-top: 8px;
  padding-bottom: 8px;
}

.page-container-bg-solid .page-bar {
  position: relative;
  padding: 0 20px;
  background-color: #ffffff;
  margin: -25px -20px 0 -20px;
}

.page-container-bg-solid .page-bar .page-breadcrumb {
  padding: 11px 0;
}

.page-container-bg-solid .page-bar .page-breadcrumb > li > a,
.page-container-bg-solid .page-bar .page-breadcrumb > li > span {
  color: #888;
}

.page-container-bg-solid .page-bar .page-breadcrumb > li > i {
  color: #aaa;
}

.page-container-bg-solid .page-bar .page-breadcrumb > li > i[class^="icon-"],
.page-container-bg-solid .page-bar .page-breadcrumb > li > i[class*="icon-"] {
  color: #8c8c8c;
}

.page-container-bg-solid .page-bar .page-toolbar {
  padding: 6px 0;
}

.page-container-bg-solid .page-bar .page-toolbar .btn {
  margin-top: -2px;
}

.page-container-bg-solid .page-bar .page-toolbar .btn.btn-sm {
  margin-top: 0px;
}

/* Page content */
.page-content {
  margin-top: 0px;
  padding: 0px;
  background-color: #fff;
}

.page-container-bg-solid .page-content {
  background: #F1F3FA;
}

.page-full-width .page-content {
  margin-left: 0px !important;
}

@media (min-width: 992px) {
  /* 992px */
  /* Page content */
  .page-content-wrapper {
    float: left;
    width: 100%;
  }

  .page-content-wrapper .page-content {
    margin-left: 235px;
    margin-top: 0px;
    min-height: 600px;
    padding: 25px 20px 10px 20px;
  }

  .page-content-wrapper .page-content.no-min-height {
    min-height: auto;
  }

  .page-sidebar-fixed.page-sidebar-hover-on .page-content-wrapper .page-content {
    margin-left: 45px;
  }

  .page-sidebar-reversed .page-content-wrapper .page-content {
    margin-left: 0 !important;
    margin-right: 235px !important;
  }

  .page-sidebar-reversed.page-sidebar-fixed.page-sidebar-hover-on .page-content-wrapper .page-content {
    margin-left: 0;
    margin-right: 45px;
  }

  .page-sidebar-reversed.page-sidebar-closed .page-content-wrapper .page-content {
    margin-left: 0 !important;
    margin-right: 45px !important;
  }

  .page-sidebar-closed .page-content-wrapper .page-content {
    margin-left: 45px !important;
  }

  .page-sidebar-closed.page-sidebar-hide .page-content-wrapper .page-content {
    margin-left: 0 !important;
  }

  .page-sidebar-closed.page-sidebar-reversed.page-sidebar-hide .page-content-wrapper .page-content {
    margin-right: 0 !important;
  }

  .page-full-width .page-content-wrapper .page-content {
    margin-left: 0px !important;
  }
}

@media (max-width: 991px) {
  /* 991px */
  /* Bg solid content's breadcrumb */
  .page-container-bg-solid .page-bar {
    margin-top: -20px;
  }

  /* Boxed page container  */
  .page-boxed > .container {
    max-width: none !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  /* Page content */
  .page-content-wrapper .page-content {
    margin: 0px !important;
    padding: 20px 20px 20px 20px !important;
    min-height: 280px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /*  768px & 991px */
  /* Boxed page container */
  .page-boxed > .container {
    margin: auto !important;
  }
}

@media (max-width: 767px) {
  /* 767px */
  /* Page content */
  .page-content-wrapper .page-content {
    padding: 20px 10px 10px 10px !important;
    overflow: hidden;
    /* Page title */
  }

  .page-content-wrapper .page-content .page-title {
    margin-bottom: 20px;
    font-size: 18px;
  }

  .page-content-wrapper .page-content .page-title small {
    font-size: 13px;
    padding-top: 3px;
  }
}

@media (max-width: 480px) {
  /* 480px */
  /* Dashboard date range panel */
  .page-content-wrapper .page-content .page-title small {
    display: block;
    clear: both;
  }
}

