<li>
  <a ng-click="getItem()"><i class="fa fa-edit"></i>修改</a>
</li>
<li>
  <a><i class="fa fa-trash"></i>删除</a>
</li>
<li class="divider">
</li>
<li>
  <a><i class="fa fa-print"></i>打印</a>
</li>
<li>
  <a><i class="fa fa-file"></i>导出</a>
</li>
<li class="divider">
</li>
<li class="dropdown-submenu">
  <a><i class="fa fa-folder-open-o"></i>打开相关</a>
  <ul class="dropdown-menu">
    <li>
      <a>库存</a>
    </li>
    <li>
      <a>客户</a>
    </li>
  </ul>
</li>
<li class="divider">
</li>
<li>
  <a class="select-all"><i class="fa fa-check-square-o"></i>全选</a>
</li>
<li>
  <a class="select-rev"><i class="fa fa-check-square"></i>反选</a>
</li>
<li>
  <a class="select-empty"><i class="fa fa-square-o "></i>取消选择</a>
</li>

