<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>DeLian</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" href="/favicon.ico">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
  <!-- build:js scripts/vendor/modernizr.js -->
  <script src="bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild -->
</head>

<body ng-class="{'page-sidebar-closed':sideBarClosed}">
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->
<header>
  <div class="page-logo">
    <a href="/">
      <img src="images/logo.png" alt="logo"/>
    </a>
  </div>
  <div class="top-menu pull-right">
    <ul class="nav navbar-nav  pull-right">
      <li class="dropdown dropdown-extended">
        <a  class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
          <i class="fa fa-bell-o"></i>
          <span class="badge badge-info">7</span>
        </a>
        <ul class="dropdown-menu extended">
          <li class="external">
            <h3>你有<strong class="bold">12</strong>个待处理任务</h3>
            <a>查看全部</a>
          </li>
          <li>
            <ul class="dropdown-menu-list scroller">
              <li>
                <a>
                  <span class="percent">30%</span>

                  <div class="progress">
                    <span style="width: 40%;" class="progress-bar progress-bar-success" aria-valuenow="40"
                          aria-valuemin="0" aria-valuemax="100"><span class="sr-only">40% Complete</span></span>
                  </div>
                </a>
              </li>
              <li>
                <a>
                  <span class="percent">30%</span>

                  <div class="progress">
                    <span style="width: 40%;" class="progress-bar progress-bar-success" aria-valuenow="40"
                          aria-valuemin="0" aria-valuemax="100"><span class="sr-only">40% Complete</span></span>
                  </div>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="dropdown dropdown-extended">
        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
          <i class="fa fa-envelope-o"></i>
          <span class="badge badge-danger">7</span>
        </a>
      </li>
      <li class="dropdown dropdown-user">
        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
          <i class="fa fa-user"></i>
					<span class="username">
					管理员 </span>
          <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-default">
          <li>
            <a >
              <i class="fa fa-user"></i> 用户中心 </a>
          </li>
          <li>
            <a >
              <i class="fa fa-calendar"></i> 我的日历 </a>
          </li>
          <li>
            <a >
              <i class="fa fa-tasks"></i> 任务 <span class="badge badge-success">
							7 </span>
            </a>
          </li>
          <li class="divider">
          </li>
          <li>
            <a >
              <i class="fa fa-lock"></i> 修改密码 </a>
          </li>
          <li>
            <a >
              <i class="fa fa-sign-out"></i> 退出 </a>
          </li>
        </ul>
      </li>
      <li>
        <a >
          <i class="fa fa-sign-out"></i>
        </a>
      </li>
    </ul>
  </div>
</header>
<div class="page-container">
  <div class="page-sidebar-wrapper" ng-controller="SidebarController">
    <div class="page-sidebar navbar-collapse collapse">
      <ul ng-class="{'page-sidebar-menu-closed':sideBarClosed}" class="page-sidebar-menu" data-keep-expanded="false"
          data-auto-scroll="true"
          data-slide-speed="200">
        <li class="sidebar-toggler-wrapper">
          <div class="sidebar-toggler fa fa-navicon" ng-click="showSidebar()">
          </div>
        </li>
        <li class="sidebar-search-wrapper">
          <div class="sidebar-search" ng-class="{'open':sideBarSearchOpen}">
            <a class="remove" ng-click="closeSearch()">
              <i class="fa fa-close"></i>
            </a>

            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search...">
							<span class="input-group-btn">
							<a class="btn" ng-click="showSearch()"><i class="fa fa-search"></i></a>
							</span>
            </div>
          </div>
        </li>
        <li ng-repeat="item in sidebar" ng-class="{active:item.active,open:item.open}">
          <a class="toggle" ng-click="menuParentClick(item)">
            <i class="fa fa-{{item.icon}}"></i>
            <span class="title" ng-bind="item.name"></span>
            <span class="selected"></span>
            <span class="arrow" ng-class="{open:item.open}"></span>
            <span ng-if="item.badge!=''" class="badge badge-warning" ng-bind="item.badge"></span>
          </a>
          <ul class="sub-menu" ng-class="{'slide-down':item.open}">
            <li ng-repeat="child in item.child" ng-class="{active:child.active}">
              <a  ng-click="menuChildClick(child)">
                <i class="fa fa-{{child.icon}}"></i>
                <span ng-if="child.badge!=''" class="badge badge-success" ng-bind="child.badge"></span>
                <span ng-bind="child.name"></span></a>
            </li>
          </ul>
        </li>
      </ul>
      <!-- END SIDEBAR MENU -->
    </div>
  </div>
  <div class="page-content-wrapper">
    <div class="page-content page-content-height" data-ng-view>

    </div>
  </div>
</div>
<footer>
  <div class="page-footer-inner">
    2014 © .
  </div>
  <div class="scroll-to-top">
    <i class="icon-arrow-up"></i>
  </div>
</footer>

<!-- build:js(.) scripts/vendor.js -->

<!-- endbuild -->

<!-- build:js({app,.tmp}) scripts/app.js -->
<script src="bower_components/requirejs/require.js" data-main="scripts/config"></script>
<!-- endbuild -->
</body>

</html>
