<div class="modal-header">
  <a class="close fa fa-close" ng-click="cancel()"></a>
  <h3 class="modal-title">I'm a modal!</h3>
</div>
<form name="myForm" novalidate>
  <div class="modal-body">

    <div class="form-group" show-errors>
      <label class="control-label">Email address</label>
      <input type="email" class="form-control" name="email" placeholder="Enter email" ng-model="item.email" required>
      <p class="help-block" ng-if="myForm.email.$error.required">必填</p>
    </div>
    <div class="form-group" show-errors>
      <label class="control-label">Password</label>
      <input type="password" class="form-control" name="password" ng-model="item.password" placeholder="Password" required ng-minlength=6 ng-maxlength="20">
      <p class="help-block" ng-if="myForm.password.$error.required">必填</p>
      <p class="help-block" ng-if="myForm.password.$error.minlength">6</p>
    </div>
    <div class="form-group" show-errors>
      <label class="control-label">Number</label>
      <input type="text" integer class="form-control" name="number" ng-model="item.number" placeholder="number" >
      <p class="help-block" ng-if="myForm.number.$error.integer">数字</p>
    </div>
    <div class="form-group">
      <label for="exampleInputFile">File input</label>
      <input type="file" id="exampleInputFile">

      <p class="help-block">Example block-level help text here.</p>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"> Check me out
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">取消</button>
    <button class="btn btn-default" ng-click="reset()">重置</button>
    <button type="submit" ng-click="ok()" class="btn btn-primary">提交</button>
  </div>
</form>
