
<h3 class="page-title">
  首页
  <small>测试</small>
</h3>
<div class="page-bar">
  <ul class="page-breadcrumb">
    <li>
      <i class="fa fa-home"></i>
      <a>首页</a>
      <i class="fa fa-angle-right"></i>
    </li>
    <li>
      <a>测试</a>
    </li>
  </ul>
  <div class="page-toolbar">
    <div class="dropdown" dropdown>
      <a class="btn grey-salt dropdown-toggle" dropdown-toggle>
        操作 <i class="fa fa-angle-down"></i>
      </a>
      <ul class="dropdown-menu pull-right" role="menu">
        <li>
          <a>打印</a>
        </li>
        <li>
          <a>导出</a>
        </li>
        <li>
          <a>Something else here</a>
        </li>
        <li class="divider">
        </li>
        <li>
          <a>Separated link</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat blue-madison">
      <div class="visual">
        <i class="fa fa-comments"></i>
      </div>
      <div class="details">
        <div class="number">
          1349
        </div>
        <div class="desc">
          新客户数
        </div>
      </div>
      <a class="more">
        更多 <i class="fa fa-arrow-circle-o-right"></i>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat red-intense">
      <div class="visual">
        <i class="fa fa-bar-chart-o"></i>
      </div>
      <div class="details">
        <div class="number">
          12,5M$
        </div>
        <div class="desc">
          总金额
        </div>
      </div>
      <a class="more">
        更多 <i class="fa fa-arrow-circle-o-right"></i>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat green-haze">
      <div class="visual">
        <i class="fa fa-shopping-cart"></i>
      </div>
      <div class="details">
        <div class="number">
          549
        </div>
        <div class="desc">
          新订单
        </div>
      </div>
      <a class="more">
        更多 <i class="fa fa-arrow-circle-o-right"></i>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat purple-plum">
      <div class="visual">
        <i class="fa fa-globe"></i>
      </div>
      <div class="details">
        <div class="number">
          +89%
        </div>
        <div class="desc">
          Brand Popularity
        </div>
      </div>
      <a class="more">
        更多 <i class="fa fa-arrow-circle-o-right"></i>
      </a>
    </div>
  </div>
</div>
