<h3 class="page-title">
  首页
  <small>测试</small>
</h3>
<div class="page-bar">
  <ul class="page-breadcrumb">
    <li>
      <i class="fa fa-home"></i>
      <a>首页</a>
      <i class="fa fa-angle-right"></i>
    </li>
    <li>
      <a>测试</a>
    </li>
  </ul>
  <div class="page-toolbar">
    <div class="dropdown">
      <a class="btn grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
        操作 <i class="fa fa-angle-down"></i>
      </a>
      <ul class="dropdown-menu pull-right" role="menu">
        <li>
          <a>打印</a>
        </li>
        <li>
          <a>导出</a>
        </li>
        <li>
          <a>Something else here</a>
        </li>
        <li class="divider">
        </li>
        <li>
          <a>Separated link</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="portlet box blue-hoki">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-globe"></i>订单
        </div>
        <div class="tools">
          <a  class="fa fa-chevron-down"></a>
          <a  class="fa fa-gear" >
          </a>
          <a  class="fa fa-refresh" title="刷新">
          </a>
          <a  class="fa fa-close" title="关闭">
          </a>
        </div>
      </div>
      <div class="portlet-body">
        <div class="row margin-bottom-10">
          <div class="col-md-12">
            <div class="form-inline">
              <div class="form-group">
                <label for="exampleInputName">Name</label>
                <input type="text" class="form-control" id="exampleInputName" placeholder="Jane Doe"
                       ng-model="searchParam.name">
              </div>
              <button ng-click="search()" class="btn blue-hoki"><i class="fa fa-search"></i>查询</button>
            </div>
          </div>
        </div>
        <div data-dl-grid="grid"></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="portlet box red">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-globe"></i>订单
        </div>
        <div class="tools"><a class="fa fa-refresh" title="刷新" ng-click="hello()"></a>
        </div>
      </div>
      <div class="portlet-body">
        <div data-dl-grid="grid2"></div>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
<a type="button" class="btn btn-primary" data-toggle="modal" href="edit.html">
  Launch demo modal
</a>
<div data-edit-model>

</div>

